
#about i { 
  vertical-align: baseline;
  padding-right: 10px;         
}

.front{  
  background: url("../images/woman_yoga.png");
  background-repeat: no-repeat;
  /* background-size: 100% auto; */
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
}

.text-over-opaque{
  text-align:left;
  color: #F7F7F7;
  letter-spacing: 2px;
  margin-left:5px;
  margin-right:5px;
}

.text-centered{
  text-align:center;
}

.header-over-opaque{
  letter-spacing: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 rgba(255,255, 255, .5);
  color: #3fb4f7;
}

/* .left-column{ */
/*     margin-top: 15%; */
/* } */
/* .right-column{ */
/*     margin-top: 1%; */
/* } */

.bottom{
 margin-top: 5%;
}

.text-over-image-clear{
  text-shadow: 0 1px 0 rgba(200,200, 200, 0.75);
    color: #FFFFFF;
}

.large-text {
  text-color: rgba(0, 0, 0, .7);
  font-size: 80px;
  padding-bottom: 30px;
  padding-bottom: 30px;
}

.text-over-image-clear{
  text-shadow: 0 1px 0 rgba(255,255, 255, 0.75);
  color: #111111;
}

.simple-box {            
  /* border-top-left-radius: 4px; */
  /* border-top-right-radius: 4px; */
  /* border-bottom-right-radius: 4px; */
  /* border-bottom-left-radius: 4px; */
  font-size:17px;
  /* margin-left:10px; */
  /* margin-right:10px; */
  padding: 15px;
  /* background-color: black; */
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#FFFFFF)); */
  /* background-image: -webkit-linear-gradient(to bottom, #FFFFFF, #DDDDDD); */
  /* background-image: -o-linear-gradient(to bottom, #FFFFFF, #DDDDDD); */
  /* background-image: -moz-linear-gradient(to bottom, #FFFFFF, #DDDDDD); */
  /* background-image: linear-gradient(to bottom, #FFFFFF, #000000); */
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#333333)); */
  /* background-image: -webkit-linear-gradient(to bottom, #111111, #333333); */
  /* background-image: -o-linear-gradient(to bottom, #111111, #333333); */
  /* background-image: -moz-linear-gradient(to bottom, #111111, #333333); */
  /* background-image: linear-gradient(to bottom, #111111, #333333); */
  /* background: rgb(54, 25, 25); /\* Fall-back for browsers that don't support rgba *\/ */
  background: rgba(0, 0, 0, .85);

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.simple-box li { margin-top: 0.6em; }

.float-right {
  float:right;
  width:150px;
}
.float-left{
  float:left;
  width:150px;
}
