<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
<head>

	<!-- Basic meta tags -->
	<meta charset="utf-8">
	<title>Plain - Clean Responsive Bootstrap Theme</title>
	<meta name="description" content="Plain is a responsible HTML template with 12-column grid based on popular Twitter Bootstrap framework. This theme is suitable as a clean and easily maintainable template for any business, portfolio or single-project site, with support for mobile devices and latest HTML5 &amp; CSS3 user interface components.">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Styles -->
	<link href="css/style.css" rel="stylesheet">
	<link href="css/font-awesome/font-awesome.css" rel="stylesheet">
	<!--[if IE 7]>
		<link href="css/font-awesome/font-awesome-ie7.css" rel="stylesheet">
	<![endif]-->
	
	<!-- Web Fonts  -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

	<!-- Javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
	
	<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

	<!-- Header
	================================================== -->
	<header id="header">

		<!-- Navigation
		================================================== -->
		<nav class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<!-- Logo -->
					<a class="brand" href="index.html">
						Plain
					</a>
					<ul class="nav">
						<li><a href="index.html" title="Home">Home</a></li>
						<li><a href="work.html" title="Our work">Portfolio</a></li>
						<li><a href="plans.html" title="Plans and pricing">Pricing</a></li>
						<li><a href="team.html" title="Our team">Our team</a></li>
						<li>
							<a href="blog.html" title="Our blog">Blog</a>
						</li>
						<li class="dropdown active">
							<a href="components.html" title="Features">Features</a>
							<!-- Dropdown menu -->
							<ul>
								<li><a href="components.html" title="">Components</a></li>
								<li><a href="grid.html" title="">Grid</a></li>
								<li><a href="icons.html" title="">Icons</a></li>
								<li><a href="home-variant-1.html" title="">Homepage variant #1</a></li>
								<li><a href="home-variant-2.html" title="">Homepage variant #2</a></li>
							</ul>
						</li>
						<li><a href="contact.html" title="Contact us">Contact</a></li>
					</ul>
				</div><!-- end .container -->
			</div><!-- end .navbar-inner -->
		</nav>

	</header>

	<!-- Content
	================================================== -->
	<section id="content" class="container">


	<div class="hero-unit">
		<h1>Components.</h1>
		<p>
			Since this theme is built on <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> framework, <br />
			you can use any of it's components with ease!
		</p>
		<hr />
	</div>

	<div class="row">
		<!-- Media -->
		<div class="span12">
			<h3>Media</h3>
			<ul class="thumbnails">
				<li class="span4">
				  <a href="#" class="thumbnail zoom stacked">
					<img src="http://placehold.it/360x268" alt="">
					<p class="ribbon"><span>RIBBON</span></p>
				  </a>
				</li>
				<li class="span2">
				  <a href="#" class="thumbnail">
					<img src="http://placehold.it/130x96" alt="">
				  </a>
				</li>
				<li class="span2">
				  <a href="#" class="thumbnail">
					<img src="http://placehold.it/130x96" alt="">
				  </a>
				</li>
				<li class="span2">
				  <a href="#" class="thumbnail">
					<img src="http://placehold.it/130x96" alt="">
				  </a>
				</li>
				<li class="span2">
				  <a href="#" class="thumbnail">
					<img src="http://placehold.it/130x96" alt="">
				  </a>
				</li>
				<li class="span2">
				  <a href="#" class="thumbnail">
					<img src="http://placehold.it/130x96" alt="">
				  </a>
				</li>
				<li class="span2">
				  <a href="#" class="thumbnail">
					<img src="http://placehold.it/130x96" alt="">
				  </a>
				</li>
				<li class="span4">
				  <a href="#" class="thumbnail">
					<img src="http://placehold.it/290x96" alt="">
				  </a>
				</li>
			</ul>
		</div>
		<!-- /Media -->
	</div>
	<!-- /row -->
	
	<hr />

	<h3>List styles</h3>
	<div class="row" style="font-size:1.1em;">
		<div class="span3">
		<ul class="unstyled">
			<li><i class="icon-ok"></i> li.icon-ok</li>
			<li><i class="icon-ok"></i> li.icon-ok</li>
			<li><i class="icon-ok"></i> li.icon-ok</li>
		</ul>
		</div>
		<div class="span3">
		<ul class="unstyled">
			<li><i class="icon-minus"></i> li.icon-minus</li>
			<li><i class="icon-minus"></i> li.icon-minus</li>
			<li><i class="icon-minus"></i> li.icon-minus</li>
		</ul>
		</div>
		<div class="span3">
		<ul class="unstyled">
			<li><i class="icon-chevron-right"></i> li.icon-chevron-right</li>
			<li><i class="icon-chevron-right"></i> li.icon-chevron-right</li>
			<li><i class="icon-chevron-right"></i> li.icon-chevron-right</li>
		</ul>
		</div>
		<div class="span3">
		<ul class="unstyled">
			<li><i class="icon-play"></i> li.icon-play</li>
			<li><i class="icon-play"></i> li.icon-play</li>
			<li><i class="icon-play"></i> li.icon-play</li>
		</ul>
		</div>
	</div>
	<!-- /row -->

	<hr />

	<h3>Buttons - sizes and colors</h3>
	
	<div class="row" style="font-size:1.1em;">

		<div class="span6">

			<a class="button tiny">Small</a> &nbsp;
			<a class="button small">Next &nbsp;<i class="icon-chevron-right"></i></a> &nbsp;
			<a class="button">Click!</a> &nbsp;
			<a class="button large"><i class="icon-arrow-down"></i>&nbsp; Download</a> &nbsp;

		</div>
		<div class="span6 ar">

			<a class="button">Default</a> &nbsp;
			<a class="button orange">Orange</a> &nbsp;
			<a class="button brown">Brown</a> &nbsp;
			<a class="button green">Green</a> &nbsp;
			<a class="button yellow">Yellow</a> &nbsp;
		</div>

	</div>
	<!-- /row -->

	<hr />
	<h2>A closer look</h2>

	<section class="tabbable tabs-below">

		<div class="tab-content">

			<!-- Design -->
			<div class="tab-pane active in" id="first">

				<div class="row">
					<div class="span4">
						<b>Every pixel matters.</b> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</div>
					<div class="span8">
						<img src="assets/design.png" alt="" />
					</div>
				</div>

			</div>

			<!-- Design -->
			<div class="tab-pane" id="second">

				<div class="row">
					<div class="span4">
						<b>Every pixel matters.</b> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</div>
					<div class="span8">
						<img src="assets/features.png" alt="" />
					</div>
				</div>

			</div>

			<!-- Design -->
			<div class="tab-pane" id="third">

				<div class="row">
					<div class="span4">
						<b>Every pixel matters.</b> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</div>
					<div class="span8">
						<img src="assets/performance.png" alt="" />
					</div>
				</div>

			</div>

		</div>         
		<div class="btn-group" data-toggle="buttons-radio">
			  <button href="#first" data-toggle="tab" class="active btn btn-large">Design</button>
			  <button href="#second" data-toggle="tab" class="btn btn-large">Features</button>
			  <button href="#third" data-toggle="tab" class="btn btn-large">Performance</button>
		</div>

	</section>

	<hr />

	<h3>Inputs</h3>
	
	<div class="row" id="inputs">

		<div class="span4">
			<input type="text" placeholder="Text input" />	
		</div>
		<div class="span4">
			<select id="select01">
				<option>Select something</option>
				<option>Select me!</option>
			</select>
		</div>
		<div class="span4">
			<input type="search" class="animated" placeholder="Animated search input" />	
		</div>
	</div>
	<!-- /row -->

	<hr />

	<div class="row">

		<!-- Tabs -->
		<div class="span4">
			<h3>Tabs</h3>
			<ul class="nav nav-tabs">
				<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
				<li class=""><a href="#profile" data-toggle="tab">Profile</a></li>
				<li class=""><a href="#other" data-toggle="tab">Other</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade active in" id="home">
					<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
				</div>
				<div class="tab-pane fade" id="profile">
					<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. </p>
				</div>
				<div class="tab-pane fade" id="other">
					<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
				</div>
			</div>          
		</div>
		<!-- /Tabs -->

		<!-- Accordion -->
		<div class="span4">

			<h3>Accordion</h3>
			<div class="accordion stacked" id="accordion">
				<!-- first item -->
				<div class="accordion-group">
				  <div class="accordion-heading">
					<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					  Some title
					</a>
				  </div>
				  <div id="collapseOne" class="accordion-body in" style="height: auto; ">
					<div class="accordion-inner">
					  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute.
					</div>
				  </div>
				</div>
				<!-- end first item -->

				<!-- second item -->
				<div class="accordion-group">
				  <div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
					  Other title
					</a>
				  </div>
				  <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">
					<div class="accordion-inner">
					  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute.
					</div>
				  </div>
				</div>
				<!-- end second item -->

				<!-- third item -->
				<div class="accordion-group">
				  <div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					  Last title
					</a>
				  </div>
				  <div id="collapseThree" class="accordion-body collapse" style="height: 0px; ">
					<div class="accordion-inner">
					  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute.
					</div>
				  </div>
				</div>
				<!-- end third item -->

				<!-- third item -->
				<div class="accordion-group">
				  <div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					  Last title
					</a>
				  </div>
				  <div id="collapseThree" class="accordion-body collapse" style="height: 0px; ">
					<div class="accordion-inner">
					  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute.
					</div>
				  </div>
				</div>
				<!-- end third item -->

		  </div>
		</div>
		<!-- /Accordion -->

		<!-- Notifications -->
		<div class="span4">
			<h3>Notifications</h3>
			<div class="alert alert-error">
				<a class="close" data-dismiss="alert">×</a>
				<i class="icon-remove"></i>
				<strong>Oh snap!</strong> Change a few things up and try submitting again.
			</div>
			<div class="alert alert-success">
				<a class="close" data-dismiss="alert">×</a>
				<i class="icon-ok"></i>
				<strong>Well done!</strong> You successfully read this important alert message.
			</div>
			<div class="alert alert-info">
				<a class="close" data-dismiss="alert">×</a>
				<i class="icon-comment"></i>
				<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
			</div>
			<div class="alert alert-warning">
				<a class="close" data-dismiss="alert">×</a>
				<i class="icon-warning-sign"></i>
				<strong>Warning!</strong> Best check yo self, you're not looking too good. 
			</div>
		</div>
		<!-- /Notifications -->
	</div>
	<!-- /row -->

	<hr />

	<h3>Tags</h3>
	<div class="row" style="font-size:1.1em;">
		<div class="span4">
			<ul class="tags">
				<li><a href="#">design</a></li>
				<li><a href="#">user interface</a></li>
				<li><a href="#">typography</a></li>
			</ul>
		</div>
		<div class="span4">
			<ul class="tags green">
				<li><a href="#">design</a></li>
				<li><a href="#">apps</a></li>
				<li><a href="#">mac os/x</a></li>
			</ul>
		</div>
		<div class="span4">
			<ul class="tags blue">
				<li><a href="#">typography</a></li>
				<li><a href="#">apps</a></li>
				<li><a href="#">mac os/x</a></li>
			</ul>
		</div>
	</div>
	<!-- /row -->


	<hr />

	<style type="text/css">
		.social-icons a {margin:0 26px 10px 0;}
	</style>

	<h3>Social icons</h3>
	<div class="row social-icons">
		<div class="span12 active">
			<a class="social-network addthis"></a>
			<a class="social-network behance"></a>
			<a class="social-network blogger"></a>
			<a class="social-network digg"></a>
			<a class="social-network dribbble"></a>
			<a class="social-network facebook"></a>
			<a class="social-network flickr"></a>
			<a class="social-network gplus"></a>
			<a class="social-network gplus2"></a>
			<a class="social-network instagram"></a>
			<a class="social-network lastfm"></a>
			<a class="social-network like"></a>
			<a class="social-network linkedin"></a>
			<a class="social-network livejournal"></a>
			<a class="social-network myspace"></a>
			<a class="social-network myspace2"></a>
			<a class="social-network paypal"></a>
			<a class="social-network picasa"></a>
			<a class="social-network pinterest"></a>
			<a class="social-network reddit"></a>
			<a class="social-network rss"></a>
			<a class="social-network skype"></a>
			<a class="social-network spotify"></a>
			<a class="social-network stumbleupon"></a>
			<a class="social-network tumblr"></a>
			<a class="social-network twitter-old"></a>
			<a class="social-network twitter"></a>
			<a class="social-network vimeo"></a>
			<a class="social-network wordpress"></a>
			<a class="social-network youtube"></a>

			<p>
				Social media icons by <a rel="external" href="http://veo.li/n5OmpK">veodesign.com</a>
			</p>
		</div>		
	</div>
	<!-- /row -->

	<hr />

	<h3>Table</h3>
	<div class="row">
		<div class="span12">
			<table class="stacked">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Age</th>
						<th>Total</th>
						<th>Discount</th>
						<th>Difference</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Bruce</td>
						<td>Almighty</td>
						<td>45</td>
						<td>$153.19</td>
						<td>44.7%</td>
						<td>+77</td>
					</tr><tr>
						<td>Bruce</td>
						<td>Evans</td>
						<td>22</td>
						<td>$13.19</td>
						<td>11%</td>
						<td>0</td>
					</tr><tr>
						<td>Clark</td>
						<td>Kent</td>
						<td>18</td>
						<td>$15.89</td>
						<td>44%</td>
						<td>-26</td>
					</tr><tr>
						<td>John</td>
						<td>Hood</td>
						<td>33</td>
						<td>$19.99</td>
						<td>25%</td>
						<td>+12</td>
					</tr><tr>
						<td>Peter</td>
						<td>Parker</td>
						<td>28</td>
						<td>$9.99</td>
						<td>20.9%</td>
						<td>+12.1</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- /row -->

	<br /><br />
	<hr />

	<h3>Form</h3>
	<div class="row">

		<form action="">
			<div class="span3">
				<label for="name">Name</label>
				<input type="text" id="name" placeholder="Enter your name" />
			</div>
			<div class="span3">
				<label for="email">E-mail</label>
				<input type="email" id="email" name placeholder="@" />
			</div>
			<div class="span8">
				<label>Your comment</label>
				<textarea name rows="6" placeholder="Place for your message" style="width:96%"></textarea>
				<p class="fr">
					<button type="submit" class="button yellow"><i class="icon-ok"></i> Post your comment</button>
				</p>
				<label>
					<input type="checkbox" checked /> Keep me updated with other comments
				</label>
			</div>
		</form>

	</div>
	<!-- /row -->

	<br /><br />

	<div class="ac lead">
		<p>
			... and much more ...<br />
			for more reference please visit<br />
			<a href="http://twitter.github.com/bootstrap">http://twitter.github.com/bootstrap</a>
		</p>
	</div>
	</section>

	<!-- Footer
	================================================== -->

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="span4">
					<a class="brand" href="index.html">
						Plain
					</a>
					<p>
						Creative agency working <br />with web and interactive media. <br />
						Lorem ipsum dolor sit amet.
						
					</p>
				</div>
				<div class="span4 social-networks">
					<h3>Find us elsewhere</h3>
					<p>
						<a class="social-network twitter"></a>
						<a class="social-network facebook"></a>
						<a class="social-network linkedin"></a>
						<a class="social-network dribbble"></a>
						<a class="social-network pinterest"></a>
					</p>
				</div>
				<div class="span4 newsletter">
					<h3>Newsletter</h3>
					<p>Subscribe to our monthly newsletter and be the first to know about our news and special deals!</p>
					<img class="ajax-loader" src="img/ajax-loader.gif" alt="" />
					<form method="post" id="newsletter-form">
						<input type="text" placeholder="Enter your E-mail" name="subscribe" />
						<input type="hidden" name="bot" /><!-- SPAM protection -->
						<button type="submit" class="icon-ok" id="newsletter-subscribe" ></button>
					</form>
				</div> 
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer -->

	<footer id="copyright">
		<div class="container">
			<div class="row">
				<div class="span4">
					&copy; 2010—2012 by <a>Plain</a>
				</div>
				<div class="span4">
					<a href="#" title="Send us email">hello@plain.com</a>, 
					+123 320 000 123 456
				</div>
				<div class="span4">
					<a href="http://themeforest.net/item/plain/2616790" rel="external" title="">PLAIN</a> BY <a title="Michal Šimonfy" rel="external" href="http://virae.org">VIRAE</a>
					
				</div>
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer-extra -->

	<!-- Javascript - Placed at the end of the document so the pages load faster 
	================================================== -->

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/jquery.touchSwipe.js"></script>
	<script type="text/javascript" src="js/jquery.hotkeys.min.js" charset='utf-8'></script>
	<script type="text/javascript" src="js/functions.js"></script>
	
</body>
</html>		