<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
<head>

	<!-- Basic meta tags -->
	<meta charset="utf-8">
	<title>Plain - Clean Responsive Bootstrap Theme</title>
	<meta name="description" content="Plain is a responsible HTML template with 12-column grid based on popular Twitter Bootstrap framework. This theme is suitable as a clean and easily maintainable template for any business, portfolio or single-project site, with support for mobile devices and latest HTML5 &amp; CSS3 user interface components.">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Styles -->
	<link href="css/style.css" rel="stylesheet">
	<link href="css/font-awesome/font-awesome.css" rel="stylesheet">
	<!--[if IE 7]>
		<link href="css/font-awesome/font-awesome-ie7.css" rel="stylesheet">
	<![endif]-->
	
	<!-- Web Fonts  -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

	<!-- Javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
	
	<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

	<!-- Header
	================================================== -->
	<header id="header">

		<!-- Navigation
		================================================== -->
		<nav class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<!-- Logo -->
					<a class="brand" href="index.html">
						Plain
					</a>
					<ul class="nav">
						<li><a href="index.html" title="Home">Home</a></li>
						<li><a href="work.html" title="Our work">Portfolio</a></li>
						<li><a href="plans.html" title="Plans and pricing">Pricing</a></li>
						<li><a href="team.html" title="Our team">Our team</a></li>
						<li>
							<a href="blog.html" title="Our blog">Blog</a>
						</li>
						<li class="dropdown">
							<a href="components.html" title="Features">Features</a>
							<!-- Dropdown menu -->
							<ul>
								<li><a href="components.html" title="">Components</a></li>
								<li><a href="grid.html" title="">Grid</a></li>
								<li><a href="icons.html" title="">Icons</a></li>
								<li><a href="home-variant-1.html" title="">Homepage variant #1</a></li>
								<li><a href="home-variant-2.html" title="">Homepage variant #2</a></li>
							</ul>
						</li>
						<li class="active"><a href="contact.html" title="Contact us">Contact</a></li>
					</ul>
				</div><!-- end .container -->
			</div><!-- end .navbar-inner -->
		</nav>

	</header>

	<!-- Content
	================================================== -->
	<section id="content" class="container">


	<div class="hero-unit">
		<p>Contact</p>
		<iframe id="map" width="100%" height="450" src="https://maps.google.com/?ie=UTF8&amp;ll=37.450485,-122.18183&amp;spn=0.01695,0.033023&amp;t=m&amp;z=11&amp;output=embed" frameborder="0"></iframe>
		<img id="map-shadow" src="img/shadow.png" />
	</div>
	
	<div class="row">
		<div class="span4 offset1">
			<h3>Social networks</h3>
			<br />
			<p class="active lead">
				<a class="social-network twitter"></a> &nbsp;
				<a class="social-network facebook"></a> &nbsp;
				<a class="social-network linkedin"></a> &nbsp;
				<a class="social-network dribbble"></a> &nbsp;
				<a class="social-network pinterest"></a>
			</p>
			<br />
			<h3>Where to find us</h3>
			<p class="lead">
				1601ux California Ave, <br />
				Palo Alto, California <br />
				<a>Get Directions</a>
			</p>
		</div>
		<div class="span6 pull1">

			<h3>Contact us</h3><br />
				<!-- Contact form
				================================================== -->

				<!-- form message -->
				<div id="contact-form-response" class="alert hidden"></div>

				<form id="contact-form" class="row">
					<div class="span3">
						<label>Name</label>
						<input type="text" name="name" placeholder="Your name" />
					</div>
					<div class="span3">
						<label>E-mail</label>
						<input type="email" name="email" placeholder="@" />
					</div>
					<div class="span6">
						<label>Your message</label>
						<textarea style="width:450px" name="message" rows="4" placeholder="Leave us your message"></textarea>
						<p>
							<a id="contact-form-submit" class="button yellow fr">Send &nbsp;<i class="icon-chevron-right"></i></a>
						</p>
					</div>
					<input type="hidden" name="bot" value="" />
				</form>
		</div>
	</div>
	</section>

	<!-- Footer
	================================================== -->

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="span4">
					<a class="brand" href="index.html">
						Plain
					</a>
					<p>
						Creative agency working <br />with web and interactive media. <br />
						Lorem ipsum dolor sit amet.
						
					</p>
				</div>
				<div class="span4 social-networks">
					<h3>Find us elsewhere</h3>
					<p>
						<a class="social-network twitter"></a>
						<a class="social-network facebook"></a>
						<a class="social-network linkedin"></a>
						<a class="social-network dribbble"></a>
						<a class="social-network pinterest"></a>
					</p>
				</div>
				<div class="span4 newsletter">
					<h3>Newsletter</h3>
					<p>Subscribe to our monthly newsletter and be the first to know about our news and special deals!</p>
					<img class="ajax-loader" src="img/ajax-loader.gif" alt="" />
					<form method="post" id="newsletter-form">
						<input type="text" placeholder="Enter your E-mail" name="subscribe" />
						<input type="hidden" name="bot" /><!-- SPAM protection -->
						<button type="submit" class="icon-ok" id="newsletter-subscribe" ></button>
					</form>
				</div> 
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer -->

	<footer id="copyright">
		<div class="container">
			<div class="row">
				<div class="span4">
					&copy; 2010—2012 by <a>Plain</a>
				</div>
				<div class="span4">
					<a href="#" title="Send us email">hello@plain.com</a>, 
					+123 320 000 123 456
				</div>
				<div class="span4">
					<a href="http://themeforest.net/item/plain/2616790" rel="external" title="">PLAIN</a> BY <a title="Michal Šimonfy" rel="external" href="http://virae.org">VIRAE</a>
					
				</div>
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer-extra -->

	<!-- Javascript - Placed at the end of the document so the pages load faster 
	================================================== -->

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/jquery.touchSwipe.js"></script>
	<script type="text/javascript" src="js/jquery.hotkeys.min.js" charset='utf-8'></script>
	<script type="text/javascript" src="js/functions.js"></script>
	
</body>
</html>		