<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
<head>

	<!-- Basic meta tags -->
	<meta charset="utf-8">
	<title>Plain - Clean Responsive Bootstrap Theme</title>
	<meta name="description" content="Plain is a responsible HTML template with 12-column grid based on popular Twitter Bootstrap framework. This theme is suitable as a clean and easily maintainable template for any business, portfolio or single-project site, with support for mobile devices and latest HTML5 &amp; CSS3 user interface components.">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Styles -->
	<link href="css/style.css" rel="stylesheet">
	<link href="css/font-awesome/font-awesome.css" rel="stylesheet">
	<!--[if IE 7]>
		<link href="css/font-awesome/font-awesome-ie7.css" rel="stylesheet">
	<![endif]-->
	
	<!-- Web Fonts  -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

	<!-- Javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
	
	<!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

	<!-- Header
	================================================== -->
	<header id="header">

		<!-- Navigation
		================================================== -->
		<nav class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<!-- Logo -->
					<a class="brand" href="index.html">
						Plain
					</a>
					<ul class="nav">
						<li><a href="index.html" title="Home">Home</a></li>
						<li><a href="work.html" title="Our work">Portfolio</a></li>
						<li><a href="plans.html" title="Plans and pricing">Pricing</a></li>
						<li><a href="team.html" title="Our team">Our team</a></li>
						<li>
							<a href="blog.html" title="Our blog">Blog</a>
						</li>
						<li class="dropdown">
							<a href="components.html" title="Features">Features</a>
							<!-- Dropdown menu -->
							<ul>
								<li><a href="components.html" title="">Components</a></li>
								<li><a href="grid.html" title="">Grid</a></li>
								<li><a href="icons.html" title="">Icons</a></li>
								<li><a href="home-variant-1.html" title="">Homepage variant #1</a></li>
								<li><a href="home-variant-2.html" title="">Homepage variant #2</a></li>
							</ul>
						</li>
						<li><a href="contact.html" title="Contact us">Contact</a></li>
					</ul>
				</div><!-- end .container -->
			</div><!-- end .navbar-inner -->
		</nav>

	</header>

	<!-- Content
	================================================== -->
	<section id="content" class="container">

</section><!-- end .container -->

<div class="lead-container">
<div class="container">


	<!-- Macbook carousel -->
	<div id="carousel" class="carousel slide macbook" rel="carousel">
		<img src="img/carousel-macbook.png" class="carousel-macbook" alt="" />
		<!-- Carousel items -->
		<div class="carousel-inner">
			<!-- Item -->
			<div class="item active">
				<img src="http://placehold.it/512x322/A2DEE3/FFF" alt="" />
			</div>
			<!-- end Item -->
			<!-- Item -->
			<div class="item">
				<img src="assets/carousel/a.jpg" alt="" />
			</div>
			<!-- end Item -->
			<!-- Item -->
			<div class="item">
				<img src="assets/carousel/b.jpg" alt="" />
			</div>
			<!-- end Item -->
			<!-- Item -->
			<div class="item">
				<img src="assets/carousel/c.jpg" alt="" />
			</div>
			<!-- end Item -->
			<!-- Item -->
			<div class="item">
				<img src="assets/carousel/e.jpg" alt="" />
			</div>
			<!-- end Item -->
		</div>
		<!-- Carousel navigation -->
		<a class="carousel-control left" href="#carousel" data-slide="prev"></a>
		<a class="carousel-control right" href="#carousel" data-slide="next"></a>
	</div>
	<!-- end Macbook carousel -->

</div>
</div>

<section class="container">

	<section class="row">
		<article class="span4">
			<h2><span class="grey">We're</span> Creative</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
			</p>
			<p><a class="" href="#">Read more &raquo;</a></p>
		</article>
		<article class="span4">
			<h2><span class="grey">We're</span> Reliable</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
			</p>
			<p><a class="" href="#">Read more &raquo;</a></p>
		</article>
		<article class="span4">
			<h2><span class="grey">We're</span> in Palo Alto</h2>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<p><a class="" href="#">Read more &raquo;</a></p>
		</article>
	</section>
	<!-- end .row -->

<style type="text/css">
	


</style>

<hr />

<div class="services">
	<ul class="nav nav-tabs">
		<li rel="service-1" class="active">
			<a href="#service-1" data-toggle="tab">
				<img src="img/icons/globe.png" alt="" />
			</a>
		</li>
		<li rel="service-2">
			<a href="#service-2" data-toggle="tab">
				<img src="img/icons/upload.png" alt="" />	
			</a>
		</li>
		<li rel="service-3">
			<a href="#service-3" data-toggle="tab">
				<img src="img/icons/stopwatch.png" alt="" />	
			</a>
		</li>
		<li rel="service-4">
			<a href="#service-4" data-toggle="tab">
				<img src="img/icons/leaf.png" alt="" />	
			</a>
		</li>
		<li rel="service-5">
			<a href="#service-5" data-toggle="tab">
				<img src="img/icons/laptop.png" alt="" />	
			</a>
		</li>
	</ul>
	<div class="tab-content">
		<div id="service-1" class="tab-pane active">
			<span class="price">
				starting at <b>$299</b>
				
			</span>

			<h3>Webdesign and web development</h3>
			
			<p>
				Professionally designed, custom websites with integrated web content management systems (CMS). 
				We're dedicated to providing small businesses and organizations with high-quality web design and web development services at a remarkably competitive value. 
			</p>
			<a class="button orange fr" href="work.html">view our portfolio &rarr;</a>	
			<p>
				Cupcake ipsum dolor sit amet wafer gummi bears pudding applicake. Jujubes brownie powder. Sweet roll powder gingerbread gummies. Cupcake ice cream sweet roll pie lollipop. Jelly-o jelly-o apple pie chupa chups jelly jujubes gingerbread. 
			</p>
			
		</div>
		<div id="service-2" class="tab-pane">
			<span class="price">
				starting at <b>$29</b> per month
			</span>
			<h3>Cloud hosting and server related services</h3>
			<p>
				 Cloud computing is a set of pooled computing resources delivered over the Internet. The cloud delivers a hosting environment that doesn't limit an application to a specific set of resources. Depending on the platform, an application can scale dynamically and increase its share of resources on-the-fly.
			</p>
		</div>
		<div id="service-3" class="tab-pane">
				<h3>Social media training</h3>
				<p>
					Cupcake ipsum dolor sit amet wafer gummi bears pudding applicake. Jujubes brownie powder. Sweet roll powder gingerbread gummies. Cupcake ice cream sweet roll pie lollipop. Jelly-o jelly-o apple pie chupa chups jelly jujubes gingerbread. Icing carrot cake powder chupa chups. Pudding sweet roll jelly-o muffin faworki biscuit. Marzipan marshmallow cake tiramisu caramels bear claw carrot cake cotton candy. Toffee danish sweet roll. Cookie topping powder toffee ice cream muffin dragée. Soufflé caramels apple pie chocolate cake cookie cake. Macaroon tiramisu halvah soufflé. Dessert toffee halvah chocolate cake bear claw.
				</p>
		</div>
		<div id="service-4" class="tab-pane">
				<h3>SEO - Search engine optimization and services</h3>
				<p>
					Cupcake ipsum dolor sit amet wafer gummi bears pudding applicake. Jujubes brownie powder. Sweet roll powder gingerbread gummies. Cupcake ice cream sweet roll pie lollipop. Jelly-o jelly-o apple pie chupa chups jelly jujubes gingerbread. Icing carrot cake powder chupa chups. Pudding sweet roll jelly-o muffin faworki biscuit. Marzipan marshmallow cake tiramisu caramels bear claw carrot cake cotton candy. Toffee danish sweet roll. Cookie topping powder toffee ice cream muffin dragée. Soufflé caramels apple pie chocolate cake cookie cake. Macaroon tiramisu halvah soufflé. Dessert toffee halvah chocolate cake bear claw.
				</p>
		</div>
		<div id="service-5" class="tab-pane">
				<h3>Branding and identity design</h3>
				<p>
					Cupcake ipsum dolor sit amet wafer gummi bears pudding applicake. Jujubes brownie powder. Sweet roll powder gingerbread gummies. Cupcake ice cream sweet roll pie lollipop. Jelly-o jelly-o apple pie chupa chups jelly jujubes gingerbread. Icing carrot cake powder chupa chups. Pudding sweet roll jelly-o muffin faworki biscuit. Marzipan marshmallow cake tiramisu caramels bear claw carrot cake cotton candy. Toffee danish sweet roll. Cookie topping powder toffee ice cream muffin dragée. Soufflé caramels apple pie chocolate cake cookie cake. Macaroon tiramisu halvah soufflé. Dessert toffee halvah chocolate cake bear claw.
				</p>
		</div>
	</div>
</div>


</section>
	</section>

	<!-- Footer
	================================================== -->

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="span4">
					<a class="brand" href="index.html">
						Plain
					</a>
					<p>
						Creative agency working <br />with web and interactive media. <br />
						Lorem ipsum dolor sit amet.
						
					</p>
				</div>
				<div class="span4 social-networks">
					<h3>Find us elsewhere</h3>
					<p>
						<a class="social-network twitter"></a>
						<a class="social-network facebook"></a>
						<a class="social-network linkedin"></a>
						<a class="social-network dribbble"></a>
						<a class="social-network pinterest"></a>
					</p>
				</div>
				<div class="span4 newsletter">
					<h3>Newsletter</h3>
					<p>Subscribe to our monthly newsletter and be the first to know about our news and special deals!</p>
					<img class="ajax-loader" src="img/ajax-loader.gif" alt="" />
					<form method="post" id="newsletter-form">
						<input type="text" placeholder="Enter your E-mail" name="subscribe" />
						<input type="hidden" name="bot" /><!-- SPAM protection -->
						<button type="submit" class="icon-ok" id="newsletter-subscribe" ></button>
					</form>
				</div> 
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer -->

	<footer id="copyright">
		<div class="container">
			<div class="row">
				<div class="span4">
					&copy; 2010—2012 by <a>Plain</a>
				</div>
				<div class="span4">
					<a href="#" title="Send us email">hello@plain.com</a>, 
					+123 320 000 123 456
				</div>
				<div class="span4">
					<a href="http://themeforest.net/item/plain/2616790" rel="external" title="">PLAIN</a> BY <a title="Michal Šimonfy" rel="external" href="http://virae.org">VIRAE</a>
					
				</div>
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer-extra -->

	<!-- Javascript - Placed at the end of the document so the pages load faster 
	================================================== -->

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/jquery.touchSwipe.js"></script>
	<script type="text/javascript" src="js/jquery.hotkeys.min.js" charset='utf-8'></script>
	<script type="text/javascript" src="js/functions.js"></script>
	
</body>
</html>		