{% extends "base.html" %}
{% block content %}
                        
    <div class="container">
            
		<!-- Main hero unit for a primary marketing message or call to action -->
		<div class="hero-unit">
			<div class="row">
				<div class="span1">
					<h1><i class="icon-camera-retro"></i></h1> 
				</div>
				<div class="span9">
					<h1>Welcome to Scopy, where you can finally take charge of your own health</h1>
				</div>
			</div>
			<div class="row-landing">
				<div class="span11 pagination-centered">
					<p>
						At Scopy, we believe in the power of information. By providing you with tools to monitor and track your health status,
						we believe this will help you make an informed decision on managing your personal health. Blah blah ..
					</p>
				</div>
			</div>
		</div>
        
		<!-- About
		================================================== -->
		<section id="about">
		  <div class="page-header">
		    <h1></h1>
		  </div>
		
		  <!-- Headings & Paragraph Copy -->
		  <div class="row">
		
		    <div class="span4">
		      <h3>Scopy's Value Proposition #1</h3>
		      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
		    </div>
		
		    <div class="span4">
		      <h3>Scopy's Value Proposition #2</h3>
		      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
		    </div>
		
		    <div class="span4">
		      <h3>Scopy's Value Proposition #3</h3>
		      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
		    </div>
		
		  </div>
		
		</section>
    </div>
{% endblock %}
	        
