{% extends "public-base.html" %}
{% block content %}

<div class="container">
 
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <div class="row">
      <div class="span1">
	<h1><i class="icon-camera-retro"></i></h1> 
      </div>
      <div class="span9">
	<h1>Welcome to Scopy, where you can finally take charge of your own health</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span11 pagination-centered">
      <p class="lead">
	At Scopy, we believe in the power of information. By providing
	you with tools to monitor and track your health status, we
	believe in empowering you to make an informed decision on
	managing your personal health.
      </p>
      <button class="btn btn-primary" type="button">Learn More</button>
    </div>
  </div>

  <br> </br>

 
  <section id="about">
    <!-- Headings & Paragraph Copy -->
    <div class="row">
      
      <div class="span4">        
        <div class="pagination-centered">
          <h3> <i class="icon-user" style="display: inline; vertical-align: top;"></i> 
            Own Your Data <br></br></h3>
        </div>
        <p>You get to decide what kind of data to record, who to show
          it to in a private and secure manner.</p>
        <p>Export or download your medical report.</p>
        <p>Use data from other services such as fitbit.</p>
      </div>

      <div class="span4">
        <div class="pagination-centered">
          <h3> <i class="icon-briefcase" style="display: inline; vertical-align: top;"></i> 
            Manage Your Health Effortlessly </h3>
        </div>
	<p>Obtain analytics on your acitivites and health record.</p>
	<p>Get recommendations on how to improve your general
	  well-being adapted to your personal lifestyle and habits.,</p>
      </div>

      <div class="span4">
        <div class="pagination-centered">
          <h3> <i class="icon-heart" style="display: inline; vertical-align: top;"></i> 
            Professional Help From Doctors </h3>
	</div>
        <p> Show your doctor a log of your activities or records for
          easier, clearer and faster diagnosis. </p>
	<p> Easy and convenient to show or transfer your records
	  between various doctors. </p>
      </div>

    </div>
  </section>
  <br> </br>


  <div class="row">
    <div class="span11 pagination-centered">
      <p class="lead"> 	I wish to register my email address for more updates:
      </p>
      <input type="text" id="registerEmail" placeholder="Email">
      <button class="btn btn-primary" type="button" style="vertical-align:top">Submit</button>
    </div>
  </div>

</div>
{% endblock %}

