{% extends "public-base.html" %}
{% block content %}
<div class="row-fluid">

<div class="row-fluid pull-left">
<div class="span12 offset1">
    <div class="lead text-warning">{{error_username}}</div> 
    <div class="lead text-warning">{{error_password}}</div> 
    <fieldset>
        <legend>Sign in</legend>
        <label>Please a username, a valid e-mail address and a password.</label>
        <form class="navbar-form" method="post">
            <input type="text" class="span2" name="username" placeholder="Username" value={{last_username}}>
            <br/> 
            <input type="text" class="span2" name="email" placeholder="E-mail address" value={{last_email}}>
            <br/> 
            <input type="password" name="password" placeholder="Password" class="span2">
            <br/> 
            <input type="password" name="verify" placeholder="Verify Password" class="span2">
            <br/> 
            <br/> 
            <button type="submit" class="btn-primary btn-large">Sign up</button> 
        </form>
    </fieldset>
</form>
</div>
</div>
</div>
{% endblock %}
