{% extends "public-base.html" %}
{% block title %}Thank You{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" media="screen" href="static/stylesheets/index.css">     
{% endblock %}
{% block content %}

<div class="row-fluid">
  <div class="span12">
      </br></br>
	  <div class="row-fluid">

	    <section id="about">
	      <!-- Headings & Paragraph Copy -->
	      <div class="row-fluid">
		<div class="span12 offset2 pagination-centered">        
                  <h3 class="header">
                    Thank you for your interest in Scopy.
                  </h3>

		  <div class="text">
                    <p class="text-centered lead">
                    We'll keep you updated on the development of Scopy.
                    </p>
                    <p class="text-centered lead">
                    Keep in touch.
                    </p>
                    <p class="text-centered lead">
                    And stay healthy!
                    </p>
                  </div>
              </div>

      </br>

</div>
</div>


{% endblock %}
